/* Varsayılan stiller */
.container {
  display: flex;
  justify-content: space-between;  /* Spinner'lar arasında boşluk */
  align-items: center;
  width: calc(100% - 80px);
  padding-left: 30px;
  padding-right: 30px;
}

.spinner-container {
  display: flex;
  flex-direction: column;  /* Spinner ve Loading yazısını dikey sıralar */
  align-items: center;
  margin: 10px;  /* Spinner'lar arasında boşluk sağlar */
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.0);
  border-radius: 50%;  /* Makes it fully round */
  border-left-color: #3069FE;  /* Sets the color of the spinner */
  animation: spin 1s infinite linear;  /* Infinite spinning animation */
}

.small { width: 32px; height: 32px; }  /* Küçük boyut */
.medium { width: 48px; height: 48px; }  /* Orta boyut */
.large { width: 56px; height: 56px; }  /* Büyük boyut */
.extra-large { width: 64px; height: 64px; }  /* En büyük boyut */

.text {
  margin-top: 8px;  /* Spinner ile Loading yazısı arasındaki boşluk */
  color: #344054;  /* Loading yazısı rengi */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Mobil cihazlar için özel düzenleme */
@media (max-width: 600px) {
  .container {
    justify-content: space-between;  /* Spinner'ları merkezde hizalar */

    padding-left: 10px;
    padding-right: 10px;
  }

  .spinner-container {
    margin: 5px;  /* Spinner'lar arasındaki boşluğu küçültür */
  }

.small { width: 32px; height: 32px; }  /* Küçük boyut */
.medium { width: 48px; height: 48px; }  /* Orta boyut */
.large { width: 56px; height: 56px; }  /* Büyük boyut */
.extra-large { width: 64px; height: 64px; }  /* En büyük boyut */
}
