.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
}

.spinner-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 10px; 
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-left-color: #3069FE;
  animation: spin 1s infinite linear;
  width: 30px; 
  height: 30px; 
}

.text {
  margin-top: 8px; 
  color: #3069FE;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
